/*
#red { background:url(https://wowsport-152717.appspot.com/src/gif/1.gif)no-repeat; }
#blue { background:url(https://wowsport-152717.appspot.com/src/gif/701.gif)no-repeat; }
#green { background:url(https://wowsport-152717.appspot.com/src/gif/180.gif)no-repeat; }
#black { background:url(https://wowsport-152717.appspot.com/src/gif/286.gif)no-repeat; } 
#yellow { background:url(http://www.wowsport.io/video/340.gif)no-repeat; }
#orange { background:url(http://www.wowsport.io/video/59.gif)no-repeat;}
*/

#yellow { background-color:yellow; }
#red { background-color:red; }
#blue { background-color:blue; }
#green { background-color:green; }
#black { background-color:black; } 
#orange { background-color:orange; }

/* .unselectable {
   user-select: none;
} */

#section>div { 
    width:200px; height:200px; 
    }

#wrapper {  height:100%;
}

#outsideContainer { height:300px; width:80%;position:absolute; top:50%; left:50%; transform:translate(-50%,-50%)}